<section>
  <h1>About Me</h1>
  <p>
    Software Engineer at <a href="http://tapjoy.com" style="color:red;">Tapjoy</a>, Cal '10 alum, and aspiring entrepreneur
    living in San Francisco. My current
    passions include getting lost in new cities, expanding my culinary sensibilities,
    and creating tools that better people's lives.
  </p>

  <p>
    I'm always on the lookout for interesting projects and opportunities. Feel free to hit me up! : )
  </p>

  <p>
    <a href="/about">Click to learn more about me!</a>
  </p>
</section>
