<hgroup class="header">
  <a href="/"><img src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-prn2/q71/s720x720/1466161_10151735935677061_1536856124_n.jpg" alt="Profile Picture" style="width: 140px" class="profile-picture"></a>

  <section class="heading-text">
    <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
    {% if site.subtitle %}
      <h2>{{ site.subtitle }}</h2>
    {% endif %}
  </section>

  <section class="social-media-icons">
    <a href="http://github.com/mattnguyen"><img src="/images/github11.svg" alt="Github Icon"></a>
    <a href="http://twitter.com/mrmattnguyen"><img src="/images/twitter16.svg" alt="Twitter Icon"></a>
    <a href="http://facebook.com/mr.matt.nguyen"><img src="/images/facebook26.svg" alt="Facebook Icon"></a>
    <a href="http://linkedin.com/in/mrmattnguyen"><img src="/images/linkedin9.svg" alt="LinkedIn Icon"></a>
  </section>
</hgroup>
