// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

img.profile-picture {
  border-radius:50%;
  vertical-align:middle;
  margin-right:30px;
}

section.heading-text {
  display:inline-block;
  vertical-align:middle;
}

section.social-media-icons {
  vertical-align:middle;
  float:right;
  margin-top:35px
}

section.social-media-icons img {
  width:75px
}

img[alt=sadie] {
  width:600px
}

.center { text-align: center; }
.left-align { float: left }
.right-align { float: right }

// Thumbnails
.left-thumbnail { margin-right: 10px; }
.right-thumbnail { margin-left: 10px; }

// Bootstrap
a.imgModal {
  text-decoration: none;
  white-space: normal;
}

a.imgModal > img {
  margin: 0;
}

a.imgModal.floatLeft {
  float: left;
}

a.imgModal.floatLeft > img {
  margin: 0 15px 15px 0;
}

a.imgModal.floatRight {
  float: right;
}

a.imgModal.floatRight > img {
  margin: 0 0 15px 15px;
}

// Misc
iframe { max-width: 100%; }

// Media queries
@media only screen and (max-width: 550px) {
  .social-media-icons { display: none; }
  hgroup.header { text-align: center; }
  aside.sidebar { display: none; }
}
@media only screen and (min-width: 550px) and (max-width: 800px) {
  hgroup.header { text-align: center; }
  section.social-media-icons {
    float:none;
    display: block;
    margin-top: 10px;
    text-align: center;

    img {
      width: 55px;
    }
  }
  fieldset[role=search] { display: none; }
}
